@import url('https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
                                /* Seccion Menu */

.contenedor-header {
    background-color: #2c3c47;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header {
    max-width: 1100px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a {
    font-family: 'lora';
    font-size: 36px;
    color: #17c2bc;
    text-decoration: none;
}
.contenedor-header header ul {
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0px 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
    color: #17c2bc;
}
.nav-responsive {
    background-color: #17c2bc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

                                /* Seccion Inicio */

.inicio {
    background: linear-gradient(to top, rgba(63, 65, 66, 0.8), rgb(37, 60, 71)),
    url(fondo_banner.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
} 
.inicio .contenido-banner{
    padding: 20px;
    background-color: #293b46;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 8px solid #17c2bc;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
   margin-top: 20px;
   font-size: 35px;
   font-family: 'lora';
}
.inicio .contenido-banner h2{
    font-size: 20px;
    font-family: 'work sans';
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #17c2bc;
}
.sobremi{
    background-color: #293b46;
    color: #fff;
    padding: 50px 30px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'work sans';
    font-weight: 650;
    text-align: center;
    padding: 20px 0px;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'work sans';
    margin-bottom: 20px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #17c2bc;
    width: 140px;
}

.sobremi button a{
    color: #fff;
    text-decoration: none;
}
.button_download{
    border: 2px solid #fff;
    padding: 10px 20px;
    width: fit-content;
    display: block;
    transition: .3s;
    margin: 20px auto;
    background-color: transparent;
    position: relative;
    z-index: 10;
}
.button_download:hover {
    background-color: #17c2bc;
    transition: 0.8s;
}

                                /* Seccion skills */ 

.skills{
    color: rgb(255, 255, 255);
    padding: 0px 0px;
}
.skills.contenido-seccion{
    max-width: 1100px; 
    margin: auto; 
  
}
.skills h2{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'work sans';
    font-weight: 650;
    text-align: center;
    padding: 20px 0px;
    background-color: #293b46;
}
.skills .fila{
    padding: 0px 20px;
    display: flex; 
    background-color: #293b46;
} 
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 23px;
    font-family: 'work sans';
    margin: 20px 0px;

}
.skills .skill > span{
    font-weight: bold;
    display:block;
    margin-top: 20px;
    margin-bottom: 17px;
} 
.skills .skill .barra-skill{
    height: 6px;
    width: 100%;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
} 
.skills .skill .progreso{
    background-color: #17c2bc;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #17c2bc;
    border-radius: 50px;
    line-height: 35px;
    text-align: center;
    top: -15px;
    right: -10px;
    font-size: 13px
}
.skills .skill .html-css{
    width: 0%;
    animation: 2s html-css forwards;
}
@keyframes html-css {
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width:75%;}
}
.skills .skill .vue{
    width: 0%;
    animation: 2s vue forwards;
}
@keyframes vue {
    0%{width: 0%;}
    100%{width: 60%;}
}
.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .node{
    width: 0%;
    animation: 2s node forwards;
}
@keyframes node {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .github{
    width: 0%;
    animation: 2s github forwards;
}
@keyframes github {
    0%{width: 0%;}
    100%{width: 45%;}
}
.skills .skill .git{
    width: 0%;
    animation: 2s git forwards;
}
@keyframes git{
    0%{width: 0%;}
    100%{width: 40%;}
}
.skills .skill .ingles{
    width: 0%;
    animation: 2s ingles forwards;
}
@keyframes ingles{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .trabajo-en-equipo{
    width: 0%;
    animation: 2s trabajo-en-equipo forwards;
}
@keyframes trabajo-en-equipo{
    0%{width: 0%;}
    100%{width: 90%;}
}  
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .organizacion{
    width: 0%;
    animation: 2s organizacion forwards;
}
@keyframes organizacion{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .automotivacion{
    width: 0%;
    animation: 2s automotivacion forwards;
}
@keyframes automotivacion{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .meticulosidad{
    width: 0%;
    animation: 2s meticulosidad forwards;
}
@keyframes meticulosidad{
    0%{width: 0%;}
    100%{width: 70%;}
}

                                /* Seccion Curriculum */

.curriculum{
    color: #fff;
    padding: 50px 0px;
}
.curriculum .contenido-seccion{
  background-color: #293b46;
  max-width: 1910px;
  margin: auto;
}
.curriculum h2{
    font-size: 35px;
    font-family: 'work sans';
    text-align: center;
    padding: 20px 0px;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 30px 20px 30px 20px;
}
.curriculum .fila .col h3{
    font-size: 25px;
    font-family: 'work sans';
    margin-bottom: 20px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #334652;
    
}
.curriculum .fila .derecha{
    border-left: 2px solid #334652;

}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #334652;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 17px;
    margin-bottom: 5px;
    color: #67e6e1;
    font-weight: bold;
 
}
.curriculum .fila .item .cargo{
    display: block;
    font-weight: 600;
    padding-bottom: 5px;
}
.curriculum .fila .item .fecha{
    display: block;
    margin-top: 5px;
}
.curriculum .fila .item p{
    line-height: 20px;
}
.curriculum .fila .izq{
    border-right: 2px solid #67e6e1;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #67e6e1;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #67e6e1;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #67e6e1;
    float: right;
    position: relative;
    bottom: 4px;
}

/* parte derecha */ 

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #67e6e1;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 8;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #67e6e1;
    float: left;
    position: relative;
    bottom: 4px;
}

                                    /*Proyectos*/

.portfolio{
    background-color: #293b46;
    color : #fff;
    padding: 50px 0px;
}
.portfolio .contenido-seccion{
    max-width: 1200px;
    margin: auto;
}
.portfolio h2{
    font-size: 35px;
    font-family: 'work sans';
    text-align: center;
    padding: 20px 0px;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 390px; /*340*/
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
    border-radius: 3%;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(48, 226, 191, 0.8), rgba(175, 231, 222, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 19px;
    letter-spacing: 2px;
    opacity: 0;
    padding: 5px;
    border-radius: 2%;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 60px;
    transition: 1s;  
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
.overlay_a{
    color: white;
    text-decoration: none;
}

                                        /*Seccion Contacto */

#form-contact{
    width: 100%;
    display: flex;
    justify-content: center;
}              
.contacto{
    background-color:#334652 ;
    color: #fff;
    padding: 25px;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 35px;
    font-family: 'work sans';
    text-align: center;
    padding: 20px 0px;
}
.contacto .fila{
    display: flex;
    justify-content: center;
}
.contacto .col{
    width: 65%; 
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    border: 0px;
    border-bottom: 2px solid #ffffff;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font: 16px;
    outline: none;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    transition: 2s;
}
.contacto button:hover {
    background-color: #17c2bc;
    transition: 0.8s;
}
.contacto button i{
    padding-left: 5px;
}
textarea {
    resize: none;
}
.error-message{
    width: 40%;
    font-size: 13px;
    margin-bottom: 5px;
    color: red;
    display: flex;
}

                                        /* Footer */


footer{
    background-color:#293b46;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    font-size: 0.9rem;
    line-height: 1.5;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 42px;
    margin: 0px 10px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 40px;
    height: 40px;
    background-color:#17c2bc;
    color: #fff;
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    border-radius: 50%;
    line-height: 40px;
    font-size: 15px;
}
                                     /* Seccion responsive */

@media screen and (max-width: 980px){
    nav{
        display: none;
    }    
    .nav-responsive{
        display:block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #293b46;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width: 700px){
    .sobremi .fila {
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .skills .fila{
        flex-direction: column;
    }
    .skills .fila .col{
        width: 100%;  
    }
    .skill .fila .col .barra-skill{
        width: 100%;
    }
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    } 
    .contacto .fila .col{
        width: 100%;
    }
} 